/* Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-richBlack: #0c090d;
  --color-yellowGreen: #cbdf90;
  --color-skyBlue: #9ed0e6;
  --color-palePink: #ead7d7;
  --color-Purple: #b892ff;
  --color-textColor: #fcfafa;

  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --breakpoint-large: 1300px;
  --breakpoint-small: 420px;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #0c090d;
}
